.article-list {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    display: grid;
    gap: .5rem;
    flex: 1;
}

.article-list-grid {
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
    .article-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .article-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1224px) {
    .article-list-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1640px) {
    .article-list-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}