.auth-form{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 5px;
    gap: 1rem
}

.auth-form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form form input{
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

.auth-form form input[type="date"], .auth-form form input::placeholder{
    color: #ccc;
}

.auth-form form input:focus{
    outline: none;
    border-color: #000;
}

.auth-form form button{
    padding: 0.7rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.auth-form form button:disabled{
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
}

.auth-form form button:disabled:hover{
    background-color: #ccc;
}

.auth-form form button:hover{
    background-color: #333;
}

.auth-form form .error{
    color: red;
    font-size: 0.8rem;
}

.auth-form h1{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
}

.auth-form p{
    font-size: 1rem;
}

.auth-form p a{
    color: #000;
    font-weight: 600;
}

.preference-container{
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
    width: min-content;
    min-width: 30vw;
    justify-content: center;
}

.preference{
    border-radius: 20px;
    padding: 0.2rem .5rem;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.preference:hover{
    background-color: #ccc;
}

.preference input{
    display: none;
}

.preference input:checked + label{
    background-color: #000;
    color: #fff;
}

.preference.selected{
    background-color: #000;
    color: #fff;
}
