.article-opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.article-inner-opened {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
    overflow-y: scroll;
}

.article-inner-opened::-webkit-scrollbar {
    width: 10px;
}

.article-opened-width {
    width: 100%;
}

@media screen and (min-width: 425px) {
    .article-opened-width {
        width: 90%;
    }
}


@media screen and (min-width: 768px) {
    .article-opened-width {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .article-opened-width {
        width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    .article-opened-width {
        width: 50%;
    }
}

.article-opened-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 100%;
    flex-shrink: 0;
}

.article-inner-opened span{
    font-size: 1rem;
    color: #333;
    line-height: 1.2;
}

.article-opened-content::-webkit-scrollbar {
    width: 10px;
}

.article-opened-details {
    height: fit-content;
    font-weight: 500;
    color: #868686;
}

.article-opened-image{
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: contain;
}

.article-opened-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-opened-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.article-opened-icons{
    width: 25px;
    height: 25px;
    color: mediumvioletred;
    cursor: pointer;
}
