@media screen and (min-width: 768px) {
    .article-body-inner {
        width: 80%;
        height: fit-content;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .article-body {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .article-body-inner {
        width: 100%;
        height: fit-content;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .article-body {
        width: 100%;
        padding: 0 .5rem;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
